<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Birthday:</strong>
    <%= user.birthday %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= user.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Balance:</strong>
    <%= user.balance %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= user.role %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Confirm code:</strong>
    <%= user.confirm_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last active at:</strong>
    <%= user.last_active_at %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this user", user, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this user', edit_user_path(user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
