<%= render(Button::ButtonComponent.new) %>

<%= render(Table::TableComponent.new) do %>
  <%= render(Table::HeaderComponent.new) do %>
    <%= render(Table::HeadComponent.new(head_name: 'Email')) %>
    <%= render(Table::HeadComponent.new(head_name: 'Name')) %>
    <%= render(Table::HeadComponent.new(head_name: 'Birthday')) %>
    <%= render(Table::HeadComponent.new(head_name: 'Phone')) %>
    <%= render(Table::HeadComponent.new(head_name: 'Balance')) %>
    <%= render(Table::HeadComponent.new(head_name: 'Role')) %>
    <%= render(Table::HeadComponent.new(head_name: 'Confirm Code')) %>
    <%= render(Table::HeadComponent.new(head_name: 'Last Active At', type: 'last_online')) %>
  <% end %>
  <%= render(Table::BodyComponent.new) do %>
    <% @users.each do |user| %>
      <%= render(Table::RowComponent.new(id: user.id)) do %>
        <%= render(Table::CellComponent.new) do %>
          <%= render(Button::ClipboardComponent.new) do %>
            <div><%= user.email %></div>
          <% end %>
        <% end %>
        <%= render(Table::CellComponent.new(cell_value: user.name)) %>
        <%= render(Table::CellComponent.new(cell_value: user.birthday.iso8601)) %>
        <%= render(Table::CellComponent.new(cell_value: user.phone)) %>
        <%= render(Table::CellComponent.new(cell_value: user.balance)) %>
        <%= render(Table::CellComponent.new(cell_value: user.role)) %>
        <%= render(Table::CellComponent.new(cell_value: user.confirm_code)) %>
        <%= render(Table::CellComponent.new(cell_value: user.last_active_at.iso8601)) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>




