<div>k hkl kjjlkjl klklkj </div>
<%= render(Button::CopyComponent.new) %>
<%= render(Avatar::AvatarComponent.new) %>

<%= render(Body::HeaderComponent.new) do %>
  <%= render(Body::NavComponent.new) %>
<% end %>
<%= render(Body::BodyComponent.new) do %>
  <%= render(Main::LeftSidebarComponent.new) %>
  <%= render(Main::ContentComponent.new) %>
  <%= render(Main::RightComponent.new) %>
<% end %>
<%= render(Body::FooterComponent.new) %>