<%= render(Tab::TabComponent.new) do %>
  <%= render(Tab::HeaderComponent.new) do %>
    <%= render(Tab::HeadComponent.new(label: 'Label1')) %>
    <%= render(Tab::HeadComponent.new(label: 'Label2')) %>
    <%= render(Tab::HeadComponent.new(label: 'Label3')) %>
    <%= render(Tab::HeadComponent.new(label: 'Label4')) %>
  <% end %>
  <%= render(Tab::ContentsComponent.new) do %>
    <%= render(Tab::ContentComponent.new) do %>
      <div>Content 1</div>
    <% end %>
    <%= render(Tab::ContentComponent.new) do %>
      <div>Content 2</div>
    <% end %>
    <%= render(Tab::ContentComponent.new) do %>
      <div>Content 3</div>
    <% end %>
    <%= render(Tab::ContentComponent.new) do %>
      <div>Content 4</div>
    <% end %>
  <% end %>
<% end %>



