<!DOCTYPE html>
<html dir='ltr'>
  <head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
  </head>

  <body>
    <main>
      <div dir='ltr' class="group flex items-center">
          <p class="text-sm font-medium text-slate-700 group-hover:text-slate-900">aaaaaaa</p>
        <div class="ltr:ml-3 rtl:mr-3">
          <p class="text-sm font-medium text-slate-700 group-hover:text-slate-900">bbbbbbbbbbbb</p>
          <p class="text-sm font-medium text-slate-500 group-hover:text-slate-700">cccccccccc</p>
        </div>
      </div>

      <div dir='rtl' class="group flex items-center">
        <p class="text-sm font-medium text-slate-700 group-hover:text-slate-900">aaaaaaa</p>
        <div class="ltr:ml-5 rtl:mr-5 rtl:p-10">
          <p class="text-sm font-medium text-slate-700 group-hover:text-slate-900">bbbbbbbbbbbb</p>
          <p class="text-sm font-medium text-slate-500 group-hover:text-slate-700">cccccccccc</p>
        </div>
      </div>
    </main>
  </body>
</html>
