<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
  </head>

<%= render(Body::BodyComponent.new) do %>
  <%= render(Body::HeaderComponent.new) do %>
    <%= render(Body::NavComponent.new) do %>
      <div class='bg-slate-500'>nav</div>
    <% end %>
  <% end %>
  <%= render(Main::MainComponent.new) do %>
    <%= render(Main::LeftSidebarComponent.new) do %>
      <div class="bg-green-500">left sidebar</div>
    <% end %>
    <%= render(Main::ContentComponent.new) do %>
      <%= yield %>
    <% end %>
    <%= render(Main::RightSidebarComponent.new) do %>
      <div class="bg-violet-600">right sidebar</div>
    <% end %>
  <% end %>
  <%= render(Body::FooterComponent.new) do %>
    <div class="bg-yellow-400">footer</div>
  <% end %>
<% end %>
</html>
