<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
  </head>

<%= render(Body::BodyComponent.new) do %>
  <%= render(Body::HeaderComponent.new) do %>
    <%= render(Body::NavComponent.new) %>
  <% end %>
  <%= render(Main::MainComponent.new) do %>
    <%= render(Main::LeftSidebarComponent.new) %>
    <%= render(Main::ContentComponent.new) do %>
      <%= yield %>
    <% end %>
    <%= render(Main::RightSidebarComponent.new) %>
  <% end %>
  <%= render(Body::FooterComponent.new) %>
<% end %>
</html>
